{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>MGM EDUZONE</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<h1 class="logo">MGM EDUZONE</h1>

<nav>
    <a href="/">Home</a>
    <a href="/notes/">Notes</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
</nav>

<h2>Online Notes Management System</h2>

<p>
MGM EDUZONE is a web-based platform where students can
easily view and download academic notes organized by
semester and branch.
</p>

<a href="notes/" class="btn">View Notes</a>

<hr>

<h2>Welcome to MGM EDUZONE</h2>

<p>
MGM EDUZONE is a web-based platform where students can view
and download academic notes easily.
</p>

<p>Click on the Notes page to access study materials.</p>

<footer>
<p>MGM EDUZONE - Online Notes Management System</p>
<p>MGM Polytechnic College Pampakuda</p>
<p>Developed by: ADITH K S | BASIL PAUL | JISHNU A S | SHINTO SHIBU | AMAL P BABU</p>
</footer>

</body>

</html>